NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/vitality_chat

# JWT Authentication
JWT_SECRET=jwt-secret

# OpenAI Configuration
OPENAI_API_KEY=sk-your-openai-api-key-here
ASSISTANT_PROMPT_ID=prompt-id
RESEARCH_PROMPT_ID=research-prompt-id

PORT=3001


